html, body {
    width: 100%;
    height: 100%;
    background: #111;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;

    background: url('../images/spotify_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.spotifyLogo {
    width: 500px;
}

.bottomLine {
    border-bottom: 1px solid #777;
}

.recent-item {
    font-size: 25px;
}

.songImage {
    width: 100%;
}